@font-face {
    font-family: Moderne Sans;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background: #000;
    background-size: cover;
  }
  video { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
  }
  div#fashion {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: calc(100vh - 50vh);
  }
  header {
    position: fixed;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    transition: .4s;
    background: rgba(0, 0, 0, 0.35);
  }
  /* header:hover {
    background: rgba(255,255,255,0.8);
    color: #000;
  } */
  h1 {
    font-family: Moderne Sans, sans-serif;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    letter-spacing: .5rem;
  }
  nav a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    font-size: 1.2em;
  }
  h2 { 
    font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
    font-size: 6vmin;
    text-align: center;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    color: #ffffff;
    font-weight: 200;
  }
  h3 { 
    font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
    font-size: 5vmin;
    text-align: center;
    margin: 2rem 3rem 0;
    /* mix-blend-mode: overlay; */
    color: #ffffff;
    font-weight: 100;
    padding-top: 5%;
  }

  .survey-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
}

.survey-button {
    background-color: #007bff; /* Primary Blue */
    font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
    color: rgb(207, 207, 207);
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 4px #0056b3;
    transform: perspective(1px) translateY(0);
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

.survey-button:hover, .survey-button:focus, .survey-button:active {
    box-shadow: 0 4px #004085; /* Slightly smaller shadow on hover */
    transform: translateY(-2px); /* Move button up */
    color: aqua;
}
.privacy-notice {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

.survey-button:hover:before, .survey-button:focus:before, .survey-button:active:before {
    transform: scaleY(1);
}

ul{
    color: #fff;
    font-size: larger;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 180px/140px;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: rgba(183, 179, 179, 0.9); 
    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 75vw; 
    border-radius: 180px/140px;
    overflow: hidden;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    z-index: 3;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  